<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <li>
        <a class="navbar-brand" href="#">Facetruck</a>
      </li>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a class="navbar-brand" href="#">Linha do Tempo</a>
        </li>
        <li>
          <a class="navbar-brand" href="#">Perfil</a>
        </li>
      </ul>
      <div class="navbar-right">

        <a class="navbar-brand" href="#">
          alanfirmiano
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </a>
        <a class="navbar-brand" href="#">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </a>
        <a class="navbar-brand" href="#">
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        </a>
        
      </div>
    </div>


  </div>
</nav>